{% extends "layout.html" %}
{% block content %}
<main id="site-main" class="site-main outer">
    <div class="content-section">
    <div class="inner">

        <article class="post-full post no-image page no-image">

            <header class="post-full-header">
                <h2 class="post-full-title">About</h2>
            </header>
            <p style="text-align:center;">
            <img class="rounded-circle" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
            </p>
            <div class="media-body">
            <p style="text-align: center;"><strong><span style="font-size: 24px;">Nihal Puram</span></strong></p>
<p style="text-align: left;"><span style="font-size: 18px;">I am a student in Aerospace engineering At IIT Madras. I am self-taught at python, machine learning and web-development using python. You can check out my GitHub page&nbsp;<a class='nav-link' href="https://github.com/realnihal" rel="noopener noreferrer" target="_blank">here.</a></span></p>
<a href="https://twitter.com/PuramNihal?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @PuramNihal</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<p><script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script><div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="nihal-puram"><a class="LI-simple-link" href='https://in.linkedin.com/in/nihal-puram?trk=profile-badge'>Nihal Puram</a></div></p>
<p><a class="btn btn-outline-info" href = "mailto: puramnihal@gmail.com">Send Email</a></p>
           <section class="post-full-content">
                <div class="post-content">
                    <p> 
                    </p>
                </div>
            </section>

        </article>

    </div>
    </div>
</main>

{% endblock content %}
