{% extends "layout.html" %}
{% block content %}
{% for article_no in range(length) %}
        <div class="content-section">
            <div>
                <h4>{{ titles[article_no] }}</h4>
                <p>
                    {% if author[article_no]==None  %}
                    <small>author unknown</small>
                    {% else %}
                    <small>{{ author[article_no] }}</small>
                    {% endif %}
                </p>
            </div>
            <hr style="height:2px;width:200px;border-width:0;color:gray;background-color:gray">
            <div>
                <p>{{ descriptions[article_no] }}</p>
            </div>
          <a href="{{ urls[article_no] }}">link to article</a>
        </div>
    {% endfor %}
{% endblock content %}
