{% extends "layout.html" %}
{% block content %}
{% for article_no in range(length) %}
        <div class="content-section">
            <div>
                <h4>{{ titles[article_no] }}</h4>
                <p>
                    {% if author[article_no]==None  %}
                    <small>author unknown</small>
                    {% else %}
                    <small>{{ author[article_no] }}</small>
                    {% endif %}
                </p>
            </div>
            <hr style="height:2px;width:200px;border-width:0;color:gray;background-color:gray">
            <div>
                <p>{{ descriptions[article_no] }}</p>
            </div>
          <a href="{{ urls[article_no] }}">link to article</a>
        </div>
    {% endfor %}
</div>
<div class="col-md-4">
  <div class="content-section">
    <h3>Welcome!</h3>
    <p class='text-muted'>
      {% if current_user.is_authenticated %}
      {{ current_user.username }}
      {% else %}
      Feel free to register, and start posting!
      {% endif %}
      <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a href="{{ url_for('main.home') }}">Latest Posts</a></li>
        <li class="list-group-item list-group-item-light"><a href="{{ url_for('main.news') }}">News</a></li>
        <li class="list-group-item list-group-item-light"><a href="{{ url_for('main.home') }}">Blank</a></li>
        {% if current_user.is_authenticated %}
          <li class="list-group-item list-group-item-light"><a href="{{ url_for('users.logout') }}">Sign out</a></li>
        {% else %}
          <li class="list-group-item list-group-item-light"><a href="{{ url_for('users.login') }}">Login</a></li>
        {% endif %}
      </ul>
    </p>
  </div>
</div>
</div>
</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>